@font-face {
    font-family: 'iconfont';  /* project id 2093037 */
    src: url('../../副图标/iconfont.eot');
    src: url('../../副图标/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../../副图标/iconfont.woff2') format('woff2'),
    url('../../副图标/iconfont.woff') format('woff'),
    url('../../副图标/iconfont.ttf') format('truetype'),
    url('../../副图标/iconfont.svg#iconfont') format('svg');
    
  }